
#botaofora1{
  width: 120%;
  float:right;
  background-color: red;
  padding: 10px 35px;
  font: bold 12px sans-serif;
  border-radius: 20px;
  text-shadow:0px 1px 0px white;
  border: 1px solid #9eb9c3;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#edf6f9+1,cde5ee+99,2989d8+100,cde5ee+100 */
background: #edf6f9; /* Old browsers */
background: -moz-linear-gradient(top,  #edf6f9 1%, #cde5ee 99%, #2989d8 100%, #cde5ee 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #edf6f9 1%,#cde5ee 99%,#2989d8 100%,#cde5ee 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #edf6f9 1%,#cde5ee 99%,#2989d8 100%,#cde5ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf6f9', endColorstr='#cde5ee',GradientType=0 ); /* IE6-9 */

  color: #527988;
  box-shadow: 0px 0px 10px #c9c9c9
}
#botaofora1:hover{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cde5ee+0,2989d8+0,cde5ee+1,edf6f9+99 */
background: #cde5ee; /* Old browsers */
background: -moz-linear-gradient(top,  #cde5ee 0%, #2989d8 0%, #cde5ee 1%, #edf6f9 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #cde5ee 0%,#2989d8 0%,#cde5ee 1%,#edf6f9 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #cde5ee 0%,#2989d8 0%,#cde5ee 1%,#edf6f9 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cde5ee', endColorstr='#edf6f9',GradientType=0 ); /* IE6-9 */

    cursor: pointer;
      top: -30%;
}
#cafezinho{
  position: absolute;
  top: 3%;
  left: 90%;
}
#logotj{
  background-color: #cde5ee
}
#txt{
  position: absolute;
  top: 22%;
  left: 35%;
  font: normal 13px sans-serif;
  color: black;
  font-size: 19px;
}
#logoimg10{
  position: absolute;
  left: 45%
}
